<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dousiwei.springbootdayang.mapper.AdminTrMapper">
    <select id="page" resultType="com.dousiwei.springbootdayang.pojo.vo.TrPageVO">
        select tr.reservation_id, u.username,tk.ticket_name,tr.quantity,tr.total_price,tr.status
        from dayang_tourism.ticket_reservations tr,dayang_tourism.users u,dayang_tourism.tickets tk
        <where>
            <if test="ticketName != null and ticketName !=''">
                and ticket_name like concat('%',#{ticketName},'%')
            </if>
            and tr.user_id=u.user_id
            and tr.ticket_id=tk.ticket_id
        </where>
        order by create_time desc
    </select>



</mapper>
